body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  border: 1px solid black;
  outline: 1px black solid;
  display: grid;
  background-color: lightblue;
}

header {
  display: flex;
  justify-content: center;
}

.score {
  padding: 0 15px;
}

image {
  max-width: 100%;
  height: auto;
}

.main-content {
  text-align: center;
}

.dirt {
  max-height: 100%;
}

.mole {
  width: 251px;
  height: 110px;
  padding-left: 70px;
}

.area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.mole {
  transform: translateY(150px);
  z-index: -1;
}
