html {
  box-sizing: border-box;
  font-size: 10px;
  background: lightblue;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  font-size: 2rem;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.content {
  text-align: center;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 90px;
  grid-gap: 5rem;
  margin: 0 auto; /* aligns it center */
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(images/dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("images/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.hidden {
  display: none;
}

.table-container {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  width: 500px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
}

tr {
  border: 1px solid black;
}

td {
  padding: 8px;
  border: 1px solid black;
}
